*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Визуально скрывает объект */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Основной контейнер */

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
}

/* Контейнер для результата (видео + форма поиска) */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

/* Форма поиска */

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  border: none;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: currentColor;
  outline: none;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  background-color: inherit;
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
}

/* Список для чекбоксов */

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Нарисованный чек */

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  min-inline-size: 19px;
  min-block-size: 19px;
}

/* Стили для кнопки поиска */

.search-form__submit-button {
  margin-block-start: 20px;
  inline-size: 194px;
  block-size: 34px;
}

/* Общий стиль для всех кнопок */

.button {
  border: 1px solid currentColor;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
}

/* Конейнер правой части (список+описание) */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-block-start: 5px;
  inline-size: 100%;
  block-size: 100%;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

/* Общий стиль для заголовка */

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

/* Карточка видео */

.content__video-card-thumbnail {
  flex-grow: 0;
  margin-block-start: 2px;
  margin-block-end: 2px;
  object-fit: cover;
  object-position: center;
  max-inline-size: 194px;
  max-block-size: 103px;
}

/* Контейнер с текстом */

.content__video-card-description-container {
  flex-grow: 1;
  padding-inline-start: 2px;
  padding-block-start: 4px;
  padding-block-end: 4px;
  min-inline-size: 0;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  margin-block-end: 6px;
  overflow: hidden;
  color: inherit;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  min-inline-size: 0;
  white-space: nowrap;
}

.content__video-card-description {
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  inline-size: 200px;
}

.content__card-link_current {
  background-color: #545050;
}

/* Кнопка Показать еще */

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

/* Стили для состояний */

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: none;
  outline: 1px currentColor solid;
}

.search-form__label:has(:focus-visible) {
  outline: 1px currentColor solid;
  outline-offset: 1px;
}

.search-form__label:has(input[type="checkbox"]) {
  cursor: pointer;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

/* Проставляем чекбокс при нажатии */

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: currentColor;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px currentColor solid;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.content__card-link:hover {
  color: inherit;
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  margin: 2px;
  outline: 1px solid currentColor;
}

.content__card-link:active {
  background-color: #545050;
}
